In [1]:
import pandas as pd

In [17]:
# FONTE:

# Importa os dados
df_de_para_nome_pais = pd.read_csv('../data/output/de_para_nome_pais.csv', encoding="utf-8")
df_consumo_vinho = pd.read_excel('../data/input/Consumo Global/de oiv_data_1995-2023.xlsx')

In [18]:
# Seleciona apenas a coluna desejada do segundo DataFrame
df_de_para_nome_pais = df_de_para_nome_pais[['Nome do País (Inglês)', 'Nome do País (Português)']]

# Faz o merge
df_consumo_vinho = df_consumo_vinho.merge(df_de_para_nome_pais, left_on='Region/Country', right_on='Nome do País (Inglês)', how='left')

In [19]:
# filtrar apenas onde coluna "Variable" for igual a 'Consumption'
df_consumo_vinho = df_consumo_vinho[df_consumo_vinho['Variable'] == 'Consumption']

In [20]:
# filtrar apenas onde coluna "Product" for igual a 'Wine'
df_consumo_vinho = df_consumo_vinho[df_consumo_vinho['Product'] == 'Wine']

In [21]:
# converter coluna Year para inteiro
df_consumo_vinho['Year'] = df_consumo_vinho['Year'].astype(int)

In [24]:
# remover coluna Unit
df_consumo_vinho = df_consumo_vinho.drop(columns=['Unit'])

In [65]:
# Filtrar ano Acima de 2000
df_consumo_vinho = df_consumo_vinho[df_consumo_vinho['Year'] >= 2000]

In [81]:
mapa_paises_remover_linha = {
    'American Samoa': 'American Samoa',
    'Belgium and Luxemburg': 'Belgium and Luxemburg',
    'Bermuda': 'Bermuda',
    'Brunei Darussalam': 'Brunei Darussalam',
    'Cook Islands': 'Cook Islands',
    'C��te d\'Ivoire': 'C��te d\'Ivoire',
    'Faroe Islands': 'Faroe Islands',
    'French Polynesia': 'French Polynesia',
    'Global': 'Global',
    'Greenland': 'Greenland',
    'Guadeloupe': 'Guadeloupe',
    'Guam': 'Guam',
    'Lao People\'s Democratic Republic': 'Lao People\'s Democratic Republic',
    'Martinique': 'Martinique',
    'Montserrat': 'Montserrat',
}
for pais, pais_destino in mapa_paises_remover_linha.items():
    df_consumo_vinho = df_consumo_vinho[df_consumo_vinho['Region/Country'] != pais]


# Dicionário de mapeamento
mapa_paises_renomear = {
    'Cabo Verde': 'Cabo Verde',
    'China, Hong Kong SAR': 'China',
    'China, Macao SAR': 'China',
    'China, mainland': 'China',
    'China, Taiwan Province of': 'China',
    'Congo (the Democratic Republic of the)': 'República Democrática do Congo',
    'French Guiana': 'Guiana Francesa',
    'Korea (the Republic of)': 'Coreia',
    'Luxemburg': 'Luxemburgo',

}


# Aplica o mapeamento para as colunas 'Nome do País (Inglês)' e 'Nome do País (Português)'
for pais_origem, pais_destino in mapa_paises_renomear.items():
    df_consumo_vinho.loc[df_consumo_vinho['Region/Country'] == pais_origem, 'Nome do País (Inglês)'] = pais_destino
    df_consumo_vinho.loc[df_consumo_vinho['Region/Country'] == pais_origem, 'Nome do País (Português)'] = pais_destino


# pegar o que esta como Nan em Nome do País (Inglês)
df_consumo_vinho_sem_pais = df_consumo_vinho[df_consumo_vinho['Nome do País (Inglês)'].isna()]

df_consumo_vinho_sem_pais.iloc[0:5]

,Continent,Region/Country,Product,Variable,Year,Quantity,Nome do País (Inglês),Nome do País (Português)
49362,America,Netherlands Antilles,Wine,Consumption,2000,15,NaN,NaN
49365,America,Netherlands Antilles,Wine,Consumption,2001,14,NaN,NaN
49368,America,Netherlands Antilles,Wine,Consumption,2002,12,NaN,NaN
49371,America,Netherlands Antilles,Wine,Consumption,2003,15,NaN,NaN
49374,America,Netherlands Antilles,Wine,Consumption,2004,15,NaN,NaN

In [26]:
# salvar arquivo
df_consumo_vinho.to_csv('../data/output/consumo_vinho.csv', index=False, encoding="utf-8")

,Continent,Region/Country,Product,Variable,Year,Quantity,Nome do País (Inglês),Nome do País (Português)
39490,Asia,"China, Macao SAR",Wine,Consumption,2000,8,NaN,NaN
39494,Asia,"China, Macao SAR",Wine,Consumption,2001,9,NaN,NaN
39498,Asia,"China, Macao SAR",Wine,Consumption,2002,11,NaN,NaN
39502,Asia,"China, Macao SAR",Wine,Consumption,2003,11,NaN,NaN
39506,Asia,"China, Macao SAR",Wine,Consumption,2004,13,NaN,NaN