In [84]:

# pip install scikit-learn

In [85]:
import pandas as pd
import matplotlib.ticker as ticker
import matplotlib.pyplot as plt
import numpy as np
import warnings

In [86]:
# Função para formatar os valores do eixo y em milhões
def milhoes_formatter(x, pos):
    return '{:.0f}M'.format(x * 1e-6)
warnings.filterwarnings('ignore')

CSV 01 - EXPORTAÇÂO

In [87]:
exp_vinhos  = pd.read_csv('Data/input/Exportacao/ExpVinho.csv', sep=';', encoding="utf-8", decimal=',')
exp_vinhos

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1
0,1,Afeganistão,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,11,46,0,0
1,2,África do Sul,0,0,0,0,0,0,0,0,...,0,0,26,95,4,21,0,0,0,0
2,3,"Alemanha, República Democrática",0,0,0,0,4168,2630,12000,8250,...,10794,45382,3660,25467,6261,32605,2698,6741,7630,45367
3,4,Angola,0,0,0,0,0,0,0,0,...,477,709,345,1065,0,0,0,0,4068,4761
4,5,Anguilla,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,124,Tuvalu,0,0,0,0,0,0,0,0,...,0,0,0,0,2,4,0,0,0,0
124,125,Uruguai,0,0,0,0,0,0,0,0,...,7711,29617,6180,18497,0,0,136774,149842,637117,997367
125,126,Vanuatu,0,0,0,0,0,0,0,0,...,0,0,0,0,18,31,0,0,0,0
126,127,Venezuela,0,0,3200,2000,1350,750,11700,6458,...,71,355,0,0,4086,9808,26415,35944,23220,32351
127,128,Vietnã,0,0,0,0,0,0,0,0,...,0,0,20,32,86,584,0,0,130,277

PIVOTANDO OS DADOS - EXPORTAÇÂO

In [88]:
# Amazenando os dados PIVOTADOS
dfs_litro = []
dfs_valor = []

#Adicionando a coluna de Ano e pivotando os dados
for col in exp_vinhos.columns:
    if col.startswith('19') or col.startswith('20'):
        ano = col.split('.')[0]
        litro_col = col
        valor_col = col + '.1'
        if litro_col in exp_vinhos.columns and valor_col in exp_vinhos.columns:
            df_litro = exp_vinhos[['Id', 'País', litro_col]].rename(columns={litro_col: 'Litros'})
            df_valor = exp_vinhos[['Id', 'País', valor_col]].rename(columns={valor_col: 'Valor'})
            df_litro['Ano'] = ano
            df_valor['Ano'] = ano
            dfs_litro.append(df_litro)
            dfs_valor.append(df_valor)

#Juntando os dados para um unico df
df_final_litro = pd.concat(dfs_litro)
df_final_valor = pd.concat(dfs_valor)

#Combinando os DF
df_exp_vinhos_ajustado = pd.merge(df_final_litro, df_final_valor, on=["Id", "País", "Ano"])[['Id', 'País', 'Ano', 'Litros', 'Valor']]

# exp_vinhos_ajustado.to_csv('CSV/exp_vinhos_ajustado.csv', index=True, sep=';', encoding="ISO-8859-1")

In [89]:
df_exp_vinhos_ajustado.iloc[0:50]

    Id                             País   Ano  Litros  Valor
0    1                      Afeganistão  1970       0      0
1    2                    África do Sul  1970       0      0
2    3  Alemanha, República Democrática  1970       0      0
3    4                           Angola  1970       0      0
4    5                         Anguilla  1970       0      0
5    6                Antígua e Barbuda  1970       0      0
6    7              Antilhas Holandesas  1970     280    207
7    8                        Argentina  1970       0      0
8    9                            Aruba  1970       0      0
9   10                        Austrália  1970       0      0
10  11                          Áustria  1970       0      0
11  12                          Bahamas  1970       0      0
12  13                       Bangladesh  1970       0      0
13  14                         Barbados  1970       0      0
14  15                           Barein  1970       0      0
15  16                          Bélgica  1970       0      0
16  17                           Belice  1970       0      0
17  18                            Benin  1970       0      0
18  19                          Bolívia  1970    2512    675
19  20               Bósnia-Herzegovina  1970       0      0
20  21                           Brasil  1970       0      0
21  22                         Bulgária  1970       0      0
22  23                       Cabo Verde  1970       0      0
23  24                         Camarões  1970       0      0
24  25                           Canadá  1970       0      0
25  26                            Catar  1970       0      0
26  27                    Cayman, Ilhas  1970       0      0
27  28                            Chile  1970       0      0
28  29                            China  1970       0      0
29  30                           Chipre  1970       0      0
30  31                        Cingapura  1970       0      0
31  32           Cocos (Keeling), Ilhas  1970       0      0
32  33                         Colômbia  1970   14205   6650
33  34                          Comores  1970       0      0
34  35                            Congo  1970       0      0
35  36            Coreia, Republica Sul  1970       0      0
36  37                  Costa do Marfim  1970       0      0
37  38                       Costa Rica  1970       0      0
38  39                          Croácia  1970       0      0
39  40                             Cuba  1970       0      0
40  41                          Curaçao  1970       0      0
41  42                        Dinamarca  1970       0      0
42  43                         Dominica  1970       0      0
43  44                      El Salvador  1970       0      0
44  45           Emirados Arabes Unidos  1970       0      0
45  46                          Equador  1970       0      0
46  47              Eslovaca, Republica  1970       0      0
47  48                          Espanha  1970       0      0
48  49                   Estados Unidos  1970   11200   4200
49  50                          Estônia  1970       0      0

In [90]:
# carregando base de dados Meteorologia_Ano.csv
df_meteorologia_ano = pd.read_csv('Data/output/Meteorologia_Ano_mediana.csv')

In [91]:
df_meteorologia_ano.iloc[0:50]

,Ano,Arquivo,Precipitacao,PressaoAtmEstacao,PressaoAtmMax,PressaoAtmMin,RadiacaoGlobal,TempAr,TempPontoOrvalho,TempMax,TempMin,TempOrvalhoMax,TempOrvalhoMin,UmidadeRelMax,UmidadeRelMin,UmidadeRel,VentoDir,VentoRajadaMax,VentoVelocidade
0,2007,Data/input/Meteorologia/Bento Goncalves/INMET_...,0.8,943.7,943.9,943.4,688.70,18.20,14.20,18.7,17.8,14.7,13.8,84.0,78.0,81.0,104.0,6.3,2.8
1,2008,Data/input/Meteorologia/Bento Goncalves/INMET_...,0.8,944.1,944.3,943.8,760.80,17.40,13.40,17.8,16.9,13.8,12.9,83.0,78.0,80.0,102.0,6.3,2.7
2,2009,Data/input/Meteorologia/Bento Goncalves/INMET_...,0.8,943.2,943.4,942.9,841.10,18.20,14.40,18.6,17.7,14.8,14.0,85.0,80.0,82.0,110.0,6.1,2.6
3,2010,Data/input/Meteorologia/Bento Goncalves/INMET_...,0.8,943.8,944.1,943.5,710.05,17.40,13.60,17.9,17.0,13.9,13.1,85.0,80.0,83.0,107.0,6.2,2.6
4,2011,Data/input/Meteorologia/Bento Goncalves/INMET_...,0.8,944.0,944.3,943.8,780.55,17.30,13.40,17.8,16.8,13.9,13.0,84.0,80.0,82.0,102.0,6.3,2.7
5,2012,Data/input/Meteorologia/Bento Goncalves/INMET_...,1.0,944.0,944.2,943.7,995.70,18.70,13.70,19.1,18.2,14.1,13.2,79.0,74.0,77.0,107.0,6.3,2.8
6,2013,Data/input/Meteorologia/Bento Goncalves/INMET_...,0.8,944.5,944.8,944.3,824.80,17.20,13.20,17.7,16.7,13.7,12.7,83.0,78.0,81.0,108.0,6.1,2.6
7,2014,Data/input/Meteorologia/Bento Goncalves/INMET_...,1.0,944.6,944.8,944.3,963.10,18.30,14.50,18.7,17.9,14.9,14.0,84.0,79.0,81.0,95.0,6.3,2.7
8,2015,Data/input/Meteorologia/Bento Goncalves/INMET_...,0.8,944.0,944.3,943.7,888.65,18.70,15.20,19.1,18.3,15.6,14.8,85.0,81.0,83.0,109.0,6.1,2.6
9,2016,Data/input/Meteorologia/Bento Goncalves/INMET_...,1.0,944.2,944.4,943.9,1014.60,17.70,13.10,18.2,17.3,13.7,12.7,83.0,78.0,80.0,118.0,6.1,2.6
10,2017,Data/input/Meteorologia/Bento Goncalves/INMET_...,0.9,944.3,944.5,944.0,1058.00,18.30,13.80,18.8,17.8,14.2,13.4,81.0,76.0,79.0,88.0,6.5,2.8
11,2018,Data/input/Meteorologia/Bento Goncalves/INMET_...,0.8,944.0,944.3,943.8,994.65,18.10,14.10,18.5,17.7,14.6,13.6,84.0,79.0,81.0,112.0,6.2,2.6
12,2019,Data/input/Meteorologia/Bento Goncalves/INMET_...,0.6,944.1,944.4,943.9,976.90,18.30,14.20,18.8,17.9,14.7,13.7,82.0,77.0,80.0,107.0,6.3,2.7
13,2020,Data/input/Meteorologia/Bento Goncalves/INMET_...,0.8,944.5,944.7,944.2,1065.50,17.85,12.40,18.4,17.4,12.9,11.9,78.0,73.0,75.0,109.0,6.4,2.7
14,2021,Data/input/Meteorologia/Bento Goncalves/INMET_...,0.8,944.4,944.6,944.1,1105.20,17.70,12.95,18.2,17.2,13.5,12.5,81.0,76.0,78.0,109.0,6.2,2.6
15,2022,Data/input/Meteorologia/Bento Goncalves/INMET_...,0.6,943.8,944.1,943.6,1018.60,17.20,12.70,17.7,16.7,13.2,12.3,81.0,76.0,79.0,111.0,6.4,2.7

In [92]:
df_exp_vinhos_ajustado['Ano'] = df_exp_vinhos_ajustado['Ano'].astype(int)
df_meteorologia_ano['Ano'] = df_meteorologia_ano['Ano'].astype(int)

df_unificado = df_exp_vinhos_ajustado.merge(df_meteorologia_ano[['Ano', 'TempAr']], on='Ano')

In [93]:
df_unificado.iloc[500:520]

      Id                             País   Ano  Litros   Valor  TempAr
500  117                 Taiwan (FORMOSA)  2010       0       0    17.4
501  118                         Tanzânia  2010       0       0    17.4
502  119                Tcheca, República  2010    1091    5285    17.4
503  120                             Togo  2010       0       0    17.4
504  121                 Trinidade Tobago  2010       0       0    17.4
505  122                          Tunísia  2010       0       0    17.4
506  123                          Turquia  2010       0       0    17.4
507  124                           Tuvalu  2010       0       0    17.4
508  125                          Uruguai  2010     914    2929    17.4
509  126                          Vanuatu  2010       0       0    17.4
510  127                        Venezuela  2010       0       0    17.4
511  128                           Vietnã  2010    8820    9977    17.4
512    1                      Afeganistão  2011       0       0    17.3
513    2                    África do Sul  2011       0       0    17.3
514    3  Alemanha, República Democrática  2011   36070  144150    17.3
515    4                           Angola  2011   13889   69001    17.3
516    5                         Anguilla  2011       0       0    17.3
517    6                Antígua e Barbuda  2011       0       0    17.3
518    7              Antilhas Holandesas  2011    7335   10188    17.3
519    8                        Argentina  2011   13253   55460    17.3

In [94]:
df_unificado = df_exp_vinhos_ajustado.merge(df_meteorologia_ano[['Ano', 'Precipitacao']], on='Ano')

In [95]:
# carregando base inflacao.csv
df_inflacao = pd.read_csv('Data/output/Inflacao_brasil.csv', sep=';', encoding="utf-8")

In [96]:
df_inflacao.iloc[0:5]

    Ano Inflação
0  2002    12,53
1  2003      9,3
2  2004      7,6
3  2005     5,69
4  2006     3,14

In [97]:
# converter valores decimais com virgula para ponto
df_inflacao['Inflação'] = df_inflacao['Inflação'].str.replace(',', '.').astype(float)

In [98]:
df_unificado = df_unificado.merge(df_inflacao[['Ano', 'Inflação']], on='Ano')

In [99]:
# carregando arquivo pib_brasil
df_pib = pd.read_csv('Data/output/PIB_brasil.csv', sep=';', encoding="utf-8")

In [100]:
# converter valores decimais com virgula para ponto
df_pib['Valor'] = df_pib['Valor'].str.replace(',', '.').astype(float)

In [101]:
# renomear coluna Valor para PIB
df_pib = df_pib.rename(columns={'Valor': 'PIB_Brasil_Trilhoes'})

In [102]:
df_unificado = df_unificado.merge(df_pib[['Ano', 'PIB_Brasil_Trilhoes']], on='Ano')

In [103]:
# dividir pib na casa dos trilhoes
df_unificado['PIB_Brasil_Trilhoes'] = df_unificado['PIB_Brasil_Trilhoes'] / 1000000000

In [104]:
df_unificado.iloc[500:520]

,Id,País,Ano,Litros,Valor,Precipitacao,Inflação,PIB_Brasil_Trilhoes
500,117,Taiwan (FORMOSA),2010,0,0,0.8,5.91,3885.847
501,118,Tanzânia,2010,0,0,0.8,5.91,3885.847
502,119,"Tcheca, República",2010,1091,5285,0.8,5.91,3885.847
503,120,Togo,2010,0,0,0.8,5.91,3885.847
504,121,Trinidade Tobago,2010,0,0,0.8,5.91,3885.847
505,122,Tunísia,2010,0,0,0.8,5.91,3885.847
506,123,Turquia,2010,0,0,0.8,5.91,3885.847
507,124,Tuvalu,2010,0,0,0.8,5.91,3885.847
508,125,Uruguai,2010,914,2929,0.8,5.91,3885.847
509,126,Vanuatu,2010,0,0,0.8,5.91,3885.847
510,127,Venezuela,2010,0,0,0.8,5.91,3885.847
511,128,Vietnã,2010,8820,9977,0.8,5.91,3885.847
512,1,Afeganistão,2011,0,0,0.8,6.50,4376.382
513,2,África do Sul,2011,0,0,0.8,6.50,4376.382
514,3,"Alemanha, República Democrática",2011,36070,144150,0.8,6.50,4376.382
515,4,Angola,2011,13889,69001,0.8,6.50,4376.382
516,5,Anguilla,2011,0,0,0.8,6.50,4376.382
517,6,Antígua e Barbuda,2011,0,0,0.8,6.50,4376.382
518,7,Antilhas Holandesas,2011,7335,10188,0.8,6.50,4376.382
519,8,Argentina,2011,13253,55460,0.8,6.50,4376.382

In [105]:
# carrergando arquivo pib_rs
df_pib_rs = pd.read_csv('Data/output/PIB_RS.csv', sep=';', encoding="utf-8")

In [106]:
# converter valores decimais com virgula para ponto
df_pib_rs['Valor'] = df_pib_rs['Valor'].str.replace(',', '.').astype(float)

In [107]:
# renomear coluna Valor para PIB
df_pib_rs = df_pib_rs.rename(columns={'Valor': 'PIB_RS_Milhoes'})

In [108]:
df_unificado = df_unificado.merge(df_pib_rs[['Ano', 'PIB_RS_Milhoes']], on='Ano')

In [150]:
df_unificado.iloc[500:520]

,País,Ano,Litros,Valor,Precipitacao,Inflação,PIB_Brasil_Trilhoes,PIB_RS_Milhoes,USD BRL,Valor_por_litro
500,Taiwan (FORMOSA),2010,0,0,0.8,5.91,3885.847,241249.1639,1.756758,NaN
501,Tanzânia,2010,0,0,0.8,5.91,3885.847,241249.1639,1.756758,NaN
502,"Tcheca, República",2010,1091,5285,0.8,5.91,3885.847,241249.1639,1.756758,4.84
503,Togo,2010,0,0,0.8,5.91,3885.847,241249.1639,1.756758,NaN
504,Trinidade Tobago,2010,0,0,0.8,5.91,3885.847,241249.1639,1.756758,NaN
505,Tunísia,2010,0,0,0.8,5.91,3885.847,241249.1639,1.756758,NaN
506,Turquia,2010,0,0,0.8,5.91,3885.847,241249.1639,1.756758,NaN
507,Tuvalu,2010,0,0,0.8,5.91,3885.847,241249.1639,1.756758,NaN
508,Uruguai,2010,914,2929,0.8,5.91,3885.847,241249.1639,1.756758,3.20
509,Vanuatu,2010,0,0,0.8,5.91,3885.847,241249.1639,1.756758,NaN
510,Venezuela,2010,0,0,0.8,5.91,3885.847,241249.1639,1.756758,NaN
511,Vietnã,2010,8820,9977,0.8,5.91,3885.847,241249.1639,1.756758,1.13
512,Afeganistão,2011,0,0,0.8,6.50,4376.382,265056.4163,1.672667,NaN
513,África do Sul,2011,0,0,0.8,6.50,4376.382,265056.4163,1.672667,NaN
514,"Alemanha, República Democrática",2011,36070,144150,0.8,6.50,4376.382,265056.4163,1.672667,4.00
515,Angola,2011,13889,69001,0.8,6.50,4376.382,265056.4163,1.672667,4.97
516,Anguilla,2011,0,0,0.8,6.50,4376.382,265056.4163,1.672667,NaN
517,Antígua e Barbuda,2011,0,0,0.8,6.50,4376.382,265056.4163,1.672667,NaN
518,Antilhas Holandesas,2011,7335,10188,0.8,6.50,4376.382,265056.4163,1.672667,1.39
519,Argentina,2011,13253,55460,0.8,6.50,4376.382,265056.4163,1.672667,4.18

In [110]:
# dropar colunas Id
df_unificado = df_unificado.drop(columns=['Id'])

In [112]:
df_dolar_mes = pd.read_csv('CSV/DOLAR_MENSAL_AJUSTADO.csv', sep=';', encoding="utf-8", decimal=',')

In [126]:

df_dolar_mes['USD BRL'] = pd.to_numeric(df_dolar_mes['USD BRL'], errors='coerce')
df_dolar_mes['Data'] = pd.to_datetime(df_dolar_mes['DATA'])
df_dolar_mes['Ano'] = df_dolar_mes['DATA'].dt.year

In [132]:
df_dolar_mes = df_dolar_mes.dropna(subset=['USD BRL'])
df_dolar_ano = df_dolar_mes.groupby('Ano')['USD BRL'].mean()

In [133]:
df_dolar_ano.iloc[0:5]

Ano
2000    1.833075
2001    2.363708
2002    2.930700
2003    3.057600
2004    2.927200
Name: USD BRL, dtype: float64

In [134]:
# salvar arquivo csv
df_dolar_ano.to_csv('Data/output/Dolar_Ano.csv', sep=';', encoding="utf-8")

In [135]:
# carregar arquivo csv
df_dolar_ano = pd.read_csv('Data/output/Dolar_Ano.csv', sep=';', encoding="utf-8")

In [138]:
df_unificado = df_unificado.merge(df_dolar_ano[['Ano', 'USD BRL']], on='Ano')

In [136]:
df_dolar_ano.iloc[0:5]

    Ano   USD BRL
0  2000  1.833075
1  2001  2.363708
2  2002  2.930700
3  2003  3.057600
4  2004  2.927200

In [149]:
# dividir valor das colunas Litros	Valor para criar a nova coluna valor por litro, se por Nan, coloca 0
df_unificado['Valor_por_litro'] = (df_unificado['Valor'] / df_unificado['Litros']).round(2)